ul.header, ul.col {

list-style: none;

margin: 0;

padding: 0;

}

ul.header:first-line {

text-align: left;

font-weight: bold;

}

ul.col {



}

ul.col li {

display: table-cell;

width: 150px; //change the width to whatever you want.

}