
body {
margin: 0px 20px 0px 20px;
}

#intro-anim {
width: 700px;
height: 400px;
margin: auto auto auto auto;
} 

#enter {
	margin-right: auto;
	margin-left: auto;
}

a:link {
		color: purple;
		text-decoration:none;
		text-align: center;
	}

	a:visited {
		color: purple;
		text-decoration:none;
	}

	a:hover {
		color:blue;
		text-decoration:none;
	}