
body {
margin: 0px 20px 0px 20px;
}

#intro-anim {
width: 700px;
height: 400px;
margin: 0px auto -1px auto;
} 

a:link {
		color: blue;
		text-decoration:none;
	}

	a:visited {
		color: purple;
		text-decoration:none;
	}

	a:active {
		background-color: yellow;
		text-decoration:none;
	}

	a:hover {
		color:red;
		text-decoration:none;
	}