    .resize {
    width: 200px;
    height : auto;
    }

    .resize {
    width: auto;
    height : 300px;
    }
#sales-container{
margin-right: auto;
margin-left: auto;
height: 100px;
max-height: 100px;
text-align: center;
}

#product-description {
margin-right: 0px;
}
