    .resize {
    width: 200px;
    height : auto;
    }

    .resize {
    width: auto;
    height : 300px;
    }
#sales-container{
margin-right: auto;
margin-left: auto;
height: 300px;
max-height: 300px;
text-align: center;
}

#product-description {
margin-right: 0px;
width: 60%

}

#product-image {
	margin-left: 0px;
	width: 30%;

}
